# dependencies
node_modules/

# Expo & Build outputs
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS & System
.DS_Store
*.pem

# Environment & Credentials
.env*.local
.env
credentials.json
google-services.json

# Typescript
*.tsbuildinfo

# Subpackage builds
backend/dist/
app/dist/
app/.expo/